{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es2020": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": [
    "react", "jsx-a11y", "import", "react-hooks", "jest"
  ],
  "rules": {
    "indent": ["error", 4],
    "comma-dangle": ["error", "never"],
    "react/destructuring-assignment": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-first-prop-new-line": ["error", "never"],
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-closing-bracket-location": ["off"],
    "react/jsx-indent": [ "warn", 4 ],
    "react/jsx-indent-props": [ "warn", 4 ],
    "react/jsx-props-no-spreading": ["warn", {
      "html": "ignore",
      "custom": "ignore",
      "explicitSpread": "ignore",
      "exceptions": [""]
    }],
    "import/prefer-default-export": ["off"],
    "import/no-unresolved": ["off"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
